body {
  background: url('chess.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.elo
{
	background-color: #EAEAAE;
	border-radius: 25px;
}

p {color: white; display: inline;}